#profile_pic_preview{
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    margin:0 auto;
}

#label-profile{
    width: 100%;
    text-align: center;


}